[build]
  base = "/"
  command = "npm run build"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "22.21.1"
  NPM_VERSION = "10.9.4"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[functions]
  node_bundler = "esbuild"
  included_files = ["packages/server/dist/**"]

